body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #292929;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 500ms;

  background-color: #E8EFF9;
  height: 100vh;
  box-sizing: border-box;
  padding: 64px 120px;
}

.menu:target {
  transform: translateX(0%);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.09em;
  line-height: 100%;
  color: #292929;
  text-transform: uppercase;
}

.nav-link:hover {
text-decoration: underline;
text-underline-offset: 8px;
}


.menu-top {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.menu-icon-close {
  border: none;
  height: 24px;
  width: 24px;
  display: block;
  background-image: url(images/icon-close.png);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 120px;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(images/header.png);
  background-size: cover;
  background-position: top center;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  height: 24px;
  width: 24px;
  display: block;
  background-image: url(images/icon-burger-menu.png);
}

.menu-button:hover {
  background-image: url(images/icon-burger-menu-hover.png);
}

.recommended-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #292929;
  margin-bottom: 0;
  margin-top: 120px;
}

.products {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 24px;
margin-left: 120px;
margin-right: 120px;
margin-top: 64px;
margin-bottom: 120px;
}

.product-photo {
  width: 100%;
  margin-bottom: 0;
}

.product-title {
  margin-top: 32px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
  font-weight: 700;
}

.product-description {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
  font-weight: 400;
}

.product-price {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
  font-weight: 700;
}

footer {
  height: 460px;
  background-size: cover;
  background-position: top center;
  background-image: url(images/footer.png);
}